// Define variables for your color scheme

// For example:
$red: #E23F36;
$black: #2B303A;
$blue: #6C91C2;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$bg-color: #F8F8F8;

