.card-display{
  padding-bottom: 80px;
  margin-bottom: 20px;
}

.home-banner {
  background-image: url('home.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
}

