  #next-form-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin-right: 0px;
  }

  #photo-form {
    position: relative;
  }

  #upload-btn {
    position: absolute;
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}


  .attachinary_container {
    margin-top: 15px;
    padding: 20px 0;
  }

  .attachinary_container ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .attachinary_container li {
    margin: 0 10px 10px 10px;
    list-style: none;
    flex: 1 0 145px;
    max-width: 145px;
    position: relative;
  }

  .attachinary_container li a {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    color: grey;
  }

  #issue-form {
    margin-top: 50px;
  }

  .hidden {
    display: none;
  }

  span.button {
    z-index: 100;
    position: absolute;
    opacity: 1;
    width: 100%;
  }

  span.button:hover {
    opacity: 1;
  }

  #issue-form, #solution-form, #next-form-btn, #submit-btn {
    display: none;
  }

  #issue-form-wrapper {
    height: calc(100vh - 50px);
    position: relative;
  }

  #submit-btn {
    position: absolute;
    bottom: 20px;
    width: 80%;
    margin: 0 10%;
    height: 75px;
    font-size: 25px;
    background-color: white;
    border: 3px solid #32B786;
    color: #32B786;
  }

  #submit-btn:focus {
    background-color: #32B786;
    color: white;
  }
