  #next-form-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin-right: 0px;
  }

  #photo-form {
    position: relative;
  }

  #upload-btn {
    position: absolute;
    top: 0px;
  }

  .attachinary_container {
    margin-top: 5px;
  }

  .attachinary_container ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .attachinary_container li {
    margin: 0 10px 10px 10px;
    list-style: none;
    flex: 1 0 145px;
    max-width: 145px;
    position: relative;
  }

  .attachinary_container li a {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    color: grey;
  }

  .issue-form {
    margin-top: 20px;
  }
  .hidden {
    display: none;
  }

  span.button {
    z-index: 100;
    position: absolute;
    opacity: 1;
    width: 100%;
  }

  span.button:hover {
    opacity: 1;
  }
