// CSS comment

.comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

#all-comments, #hide-all-comments, #comment-form {
  display: none;
}

#all-comments {
  position: relative;
}

.comment-thread {
 margin-top: 15px;
}

.comment {
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
  position: relative;
}

.delete-comment {
  position: absolute;
  top: 50%;
  right: 5px;
}

// CSS carousel
.item-size {
  height: calc(50vh - 70px);
  width: 100%;
}

#photo-size {
  height: calc(50vh - 70px);
  width: 100%;
}

// CSS show
.issue-card {
  background: white;
  border: 1px solid #d3d3d3;
  margin-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.issue-card-status {
  display: flex;
  align-items: center;
}

.issue-card-status-solved {
  font-weight: lighter;
  font-size: 16px;
  color: $green;
}

.issue-status {
  font-weight: lighter;
  font-size: 16px;
}

.change-status {
  margin-left: 10px;
  color: #5b5a5a;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #999999;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.change-status:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: none;
}

.change-status:focus {
  opacity: 0.8;
  text-decoration: none;
}

.pending {
  color: $red;
}

.inprogress {
  color: $orange;
}

.resolved {
  color: $green;
}

.issue-card-username {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.issue-card-username p{
  margin-bottom: 0;
  color: #999999;
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
}

.issue-card-title {
  display: flex;
  justify-content: center;
}

.issue-title {
 flex: 1 1 auto;
}

.issue-title h2 {
  font-weight: bold;
  font-size: 28px;
  color: #5b5a5a;
}

.issue-votes {
  margin: 0 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 0 0 10%;
  font-size: 35px;
}

.issue-votes p {
  color: #999999;
  font-size: 28px;
  margin-bottom: 0;
  font-weight: lighter;
}

.issue-votes-arrow {
  margin: 0 5px;
  font-size: 36px;
}

.issue-card-other p {
  color: #999999;
  font-size: 16px;
  font-weight: lighter;
}

.issue-card-other h3 {
  color: #5b5a5a;
  font-size: 20px;
}
