<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path issue.photos[0].path %>);">
  <div class="card-title"><%= issue.title %></div>
  <img src='https://kitt.lewagon.com/placeholder/users/sanchinho' class="avatar"/>
  <div class="card-description">
    <h2><%= issue.description.split.first(10).join(' ') %></h2>
  </div>
  <%= link_to '', issue_path(issue), class: "card-link" %>
</div>
