<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1531502774286-5e4e8e94879f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ea85c069e155dcb584413f36d022f86&auto=format&fit=crop&w=668&q=80');">
  <div class="card-title"><%= issue.title %></div>
  <img src='https://kitt.lewagon.com/placeholder/users/sanchinho' class="avatar"/>
  <div class="card-description">
    <h2><%= issue.description.split.first(6).join(' ') %>...</h2>
    <h2><strong><%= pluralize issue.vote_count, 'vote' %></strong></h2>
  </div>
  <%= link_to '', issue_path(issue), class: "card-link" %>
</div>
