<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300');">
  <div class="card-title"><%= issue.title %></div>
  <div class="card-description">
    <h2><%= issue.description %></h2>
  </div>
  <%= link_to '', issue_path(issue), class: "card-link" %>
</div>
