<%= link_to issue_path(issue) do %>
<div class="info-window">
  </div>
  <div class="info-window-issue-info">
    <h3><%= issue.title %></h3>
    <h6><%= issue.description %></h6>
  </div>
</div>
<% end %>
