<%= render 'shared/navbar' %>
<%= render 'carousel' %>

<div class="container">
  <h2><%= @issue.title %></h2>
  <h3><%= @issue.description %></h3>
</div>

<style>
  .item-size {
    height: calc(50vh - 70px);
    width: 100%;
  }

  #photo-size {
    height: calc(50vh - 70px);
    width: 100%;
  }
</style>

<script>
  const bullets = document.querySelectorAll(".carousel-indicators-bullet")
  bullets[0].classList.add("active");

  const photos = document.querySelectorAll(".item-size");
  photos[0].classList.add("active");

</script>
