<div class="container">
  <div class="my-profile-avatar issue-card">
    <%= cl_image_tag @user.avatar.path, class: "profile-avatar-big" %>
    <h1><strong><%= @user.username %></strong></h1>
  </div>
  <div class="my-profile-stats issue-card">
    <h4><%= @user.issues.count %> issues created</h4>
    <h4><%= @user.comments.count %> comments created</h4>
  </div>
</div>
