<div class="footer footer-image" style="background-image: url('<%= cl_image_path "footer_background" %>');">

  <div class="footer-links" align="center">
    <a href="#"><i class="fab fa-github-alt"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

<%= link_to new_issue_path, class: "btn-new" do %>
  <i class="fas fa-plus"></i>
<% end %>
