<div class="footer">
  <div class="footer-new-issue">
  <%= link_to directions_path, class: "btn-new" do %>
    <i class="fas fa-map-signs"></i>
    <p>Create an itinerary</p>
  <% end %>
  </div>
    <div class="footer-new-itinerary">
  <%= link_to new_issue_path, class: "btn-new" do %>
    <i class="fas fa-plus-square"></i>
    <p>Report an issue</p>
  <% end %>
  </div>
</div>
