.city-filter {
  width: 40%;
}

.query {
  display: flex;
  justify-content: space-around;
}

.btn-order {
  height: 60px;
  width: 60px;
  border-radius: 25%;
  color: $green;
  justify-content: center;
}

// .admin-dashboard {
//   display: flex;
// }
