.city-filter {
  width: 40%;
}

.query {
  display: flex;
  justify-content: space-around;
}

.btn-order {
  height: 60px;
  width: 60px;
  border-radius: 25%;
  color: $green;
  justify-content: center;

  &:hover {
  color: white;
  background-color: $green;
  opacity: 1;
  }
}
