x.button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #8A8D96;
}

.button:hover {
  opacity: 0.8;
}

.button-icon {
  background-color: #0C7C59;
}

.button-icon i {
  margin-right: 10px;
}

.button-new {
  background-color: #E23F36;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
}

.button-next {
  background-color: #6E748A;
}
