.button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #8A8D96;
}

.button:hover {
  opacity: 0.8;
}

.button-icon {
  background-color: #0C7C59;
}

.button-icon i {
  margin-right: 10px;
}

.card {
  position: relative;
}

// .button-new {
//   height: 60px;
//   width: 60px;
//   text-align: center;
//   border-radius: 50%;
//   position: absolute;
//   position: fixed;
//   top: 665px;
//   left: 180px;
// }

.btn-new {
  font-size: 40px;
  position: fixed;
  top: 650px;
  left: 180px;
  color: white;
  background-color: $green;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  z-index: 1200;

  &:focus, &:hover {

  }
}

.fa-plus-square {

}

// span {
//   display: inline-block;
//   height: 70px;
//   overflow: hidden;
//   position: absolute;
//   width: 52px;
//   bottom: 0px;
//   border-radius: 5px;
// }

// i.icon-check:before {
//     left: 5px;
//     position: absolute;
//     top: -8px;
// }


.button-next {
  background-color: #6E748A;
}
