.button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #8A8D96;
  margin-bottom: 15px;
  margin-top: 15px;
}

.button:hover {
  opacity: 0.8;
}

.button-icon {
  background-color: $green;
}

.button-icon i {
  margin-right: 10px;
}

.card {
  position: relative;
}

.button-new {
  // height: 40px;
  // width: 40px;
}


// .btn-new {
//   font-size: 40px;
//   position: fixed;
//   top: 650px;
//   left: 180px;
//   color: white;
//   background-color: $green;
//   height: 60px;
//   width: 60px;
//   text-align: center;
//   border-radius: 50%;
//   z-index: 1200;
//   box-shadow: 0.5px 0.5px 0.5px $black;
//   opacity: 0.95;

//   &:focus, &:hover {
//   color: white;
//   background-color: #32AF96;
//   opacity: 1;

//   }
// }

.button-next {
  background-color: #6E748A;
}
