.wrapper {
  display: flex;
  width: 100%;
}

#issue-map {
  width: 100%;
  height: calc(100vh - 70px);
  display: none;
}

#stickymap {
  height: calc(100vh - 70px);
  position: sticky !important;
  z-index: 3001;
  top: 70px !important;
  flex: 0 0 33%;
}

.info-window {
  width: 200px;
  height: 300px;
}

.info-window-issue-image {
  height: 200px;
  background-size: cover;
  padding: 5px;
}

.gm-style-iw a {
  text-decoration: none;
}
