.map-size {
  width: 100%;
  height: 600px;
}

.info-window {
  width: auto;
  height: auto;
}

.info-window-issue-image {
  height: 150px;
  background-size: cover;
}

.gm-style-iw a {
  text-decoration: none;
}
