.wrapper {
  display: flex;
  width: 100%;
}

#map {
  width: 100%;
  height: calc(100vh - 70px);
  display: none;
}

#stickymap {
  height: calc(100vh - 70px);
  position: sticky !important;
  z-index: 3001;
  top: 0 !important;
  flex: 0 0 33%;
}

.info-window {
  width: auto;
  height: auto;
}

.info-window-issue-image {
  height: 150px;
  background-size: cover;
}

.gm-style-iw a {
  text-decoration: none;
}
