.navbar {
  z-index: 1000;
  height: 50px;
  padding: 3px 5px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  margin-bottom: 0;
  position: relative;
  background: white;
}

.navbar-display{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-btn-menu {
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
  width: 40px,
}

.navbar-menu {
  background: rgb(248, 249, 250);
  list-style-type: none;
  padding: 0 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  position: fixed;
}

.navbar-menu li > a {
  font-weight: lighter;
  color: #999999;
  font-size: 15px;
  padding: 10px 20px;
}

.navbar-menu li > a:hover {
  opacity: 0.5;
}

.navbar-btn-maplist {
  margin: 0px 15px;
  text-align: center;
  color: #6C91C2;
  width: 40px;
  cursor: pointer;
  font-size: 25px;
}

.navbar-right {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-right:hover {
  text-decoration: none;
  opacity: 0.5;
}

.navbar-btn-maplist h6{
  margin: 0;
}

.navbar-logo{
  flex: 1 1 50px;
  text-align: center;
  padding-bottom: 8px;
}

#open-menu {
  z-index: 1000;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s ease;
       -o-transition: height 0.5s ease;
          transition: height 0.5s ease;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 25px;
  position: absolute;
  bottom: 27px;
  display: block;
  content: '';
  background-color: #6C91C2;
}
#nav-toggle span:before {
  top: -7px;
}
#nav-toggle span:after {
  bottom: -7px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
