.navbar {
  z-index: 1000;
  height: 70px;
  padding: 5px 5px;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  margin-bottom: 0;
}

.navbar-display{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-btn-menu {
  margin: 0 15px;
  text-align: center;
  color: #6C91C2;
  width: 40px;
  cursor: pointer;
}

.navbar-btn-menu:hover {
  opacity: 0.5;
}

.navbar-menu {
  background: rgb(248, 249, 250);
  list-style-type: none;
  padding: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: fixed;
}

.navbar-menu li > a {
  font-weight: lighter;
  color: #999999;
  font-size: 15px;
  padding: 10px 20px;
}

.navbar-menu li > a:hover {
  opacity: 0.5;
}

.navbar-btn-maplist {
  margin: 0px 15px;
  padding-top: 5px;
  text-align: center;
  color: #6C91C2;
  width: 40px;
  cursor: pointer;
}

.navbar-btn-maplist:hover {
  opacity: 0.5;
}

.navbar-btn-maplist h6{
  margin: 0;
}

.navbar-logo{
  flex: 1 1 50px;
  text-align: center;
}

#open-menu {
  z-index: 1000;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s ease;
       -o-transition: height 0.5s ease;
          transition: height 0.5s ease;
}
